@import '../../../config/_vars';

.monitorContainer {
  .monitorColor {
    background-color: $monitorColor;
  }

  .wholeMonitor {
    width: 100%;
    height: 100%;
    position: relative;

    .topPart {
      width: 100%;
      height: 75%;
      border-radius: 5%;
      position: relative;

      .screen {
        border-radius: 5%;
        position: absolute;
        background-color: white;
        width: $screenWidthRatio;
        height: $screenHeightRatio;
        top: calc((100% - #{$screenHeightRatio}) / 4);
        left: calc((100% - #{$screenWidthRatio}) / 2);

        .contentContainer {
          position: absolute;
          background-color: white;
          width: $screenWidthRatio;
          height: $screenHeightRatio;
          top: calc((100% - #{$screenHeightRatio}) / 2);
          left: calc((100% - #{$screenWidthRatio}) / 2);
          border: 1px solid #52822D;
          border-radius: 2%;
          overflow: hidden;
           display: flex; 
           align-items: center;

          .content {
            padding: 10px;
             
          textarea {
              width:100%;
              height:55px;
              text-align: center;
              resize:none;
              border:none;
              font-size:40px;
            }
          }
        }
      }
    }

    .stand {
      width: 100%;
      height: 25%;

      .vertical {
        width: 35px;
        height: 60%;
        margin: auto;
      }

      .horizontal {
        margin: auto;
        height: 40%;
        width: 30%;
        display: flex;

        .leftPart {
          border-bottom-left-radius: 50% 100%;
          border-top-left-radius: 50% 100%;
          margin: 0;
          height: 100%;
          width: 50px;
        }

        .centerPart {
          margin: 0;
          height: 100%;
          width: calc(100% - (50px * 2))
        }

        .rightPart {
          border-bottom-right-radius: 50% 100%;
          border-top-right-radius: 50% 100%;
          margin: 0;
          height: 100%;
          width: 50px;
        }
      }
    }
  }
}
