.posterContainer {
  height: 100%;
  position: relative;
  .tape {
    position: absolute;
    left: calc(60% / 2);
    height: 10%;
    width: 40%;
    background-color: #FFBD5A;

    &.tape-top {
      top: -5%
    }

    &.tape-bottom {
      bottom: -5%;
    }
  }

  .contentContainer {
    z-index: 1;
    height: 100%;
    background-color: #F9EFCE;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;

    .content {
      text-align: justify;
        font-size: 30px;
      padding: 30px 20px 30px 20px;

      .firstWord {
        color: red;
      }
    }
  }
}
